/* ---------------------------- Introdução ---------------------------- */
.introdução_sobre {
  background: url("../img/fotos/bg-sobre.jpg") no-repeat center;
  background-size: cover;
}

/* ---------------------------- Missão ---------------------------- */
.missao_sobre {
  padding: 60px 0;
}

.subtitulo_missao {
  text-align: left;
}

.subtitulo_missao:after {
  margin: 10px 0;
}

.missao_sobre p {
  padding-right: 60px;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 0.1em;
}

.missao_sobre p:last-of-type {
  padding-top: 20px;
}

.missao_sobre ul li {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 30px;
}

.foto_equipe {
  padding-top: 60px;
  margin-bottom: -60px;
}

.footer_sobre {
  width: 100%;
  padding: 20px;
  background: black;
}
